/* Horizontal Scrolling */
body.horz .images {
float: none;
white-space: nowrap;
width: auto;
height: 650px;
overflow: auto;
}
body.horz .list .images li {
float: none;
width: auto;
height: 95%;
display: inline-block;
margin: 0 10px;
}
body.horz .list .images img {
margin: 0;
max-height: 100%;
}	