/* THIS IS DEPRECATED: Doing this is now possible in the design editor and no custom code is necessary */

/* Center header and navigation (for use with header-wide layout) */
	header h1 a {
		position: static;
		margin: 0 auto;
		padding: 25px;
		text-align: center; }
	.layout-header-wide { padding-bottom: 20px; }	
	.layout-header-wide nav {
		position: static;
		margin: 0 auto;
		text-align: center;
		width: 100%; }
	.layout-header-wide nav > ul {
		float: none;
		width: 100%; }
	.layout-header-wide nav > ul > li {
		float: none;
		display: inline-block; }