/* Layout
---------------------------------- */

	/* Logo */	
	header h1 {
		margin: 0 auto;
		width: 120px;
		height: 46px;
		text-indent: 100%;
		overflow: hidden;
		white-space: nowrap;
		background: url('/content/82_image_36047.png') center center no-repeat;
		background-size: 100% auto;
		}
	
	/* Spacing Adjustments */
	body { padding-top: 65px; }
	header { padding-top: 5px; }
	.back { margin-top: 13px; }
		
	/* Hide home page billboard image */			
	#billboard { display: none; }
		
/* Fonts
---------------------------------- */

	@font-face {	
		font-family: "Raleway";
		src: url('/fonts/raleway.eot');
		src: local('â'), url('/fonts/raleway.woff') format('woff'), url('/fonts/raleway.ttf') format('truetype'), url('/fonts/raleway.svg#raleway') format('svg');
		}
		
/* Colors
---------------------------------- */					

	/* Highlight color */
	body { -webkit-tap-highlight-color: rgba(0,0,0,1); }
		
	/* Header */	
	header { background: #ccc; }
		
	/* Background */
	body, .menu { background: #fff; }
	
	/* Text color */
	body { color: #000; }
		
	/* Link color */
	a { color: #000; }
		
	/* Main navigation */
	.menu a {
		font: normal 24px/1em Raleway, Arial, sans-serif;
		border-color: #ccc;
		}
	
	h2 { text-shadow: none; }
		
	#fullsite { color: #fff; }