/* Home Page Content */

#page-index #content {

	position: relative;

	}
	
#intro {

	position: absolute;
	bottom: 40px;
	right: 40px;
	padding: 15px 20px;
	background: #000;
	background: rgba(0,0,0,.7);
	color: #fff;
	width: 450px;
	
	}
	
#intro h1, #intro h2, #intro h3, #intro h4 {

	font-size: 18px;
	margin-bottom: 10px;

	}