/* Video Page */	
.video .html {
	width: 800px !important;
	padding: 40px 20px; }
.video .html iframe, .hide { display: none; }
a.video {
	width: 240px;
	height: 135px;
	overflow: hidden;
	float: left;
	margin: 0 10px 10px 0;
	border: none;
	opacity: .8;
	filter: alpha(opacity=80); }
a.video:hover {
	opacity: 1;
	filter: alpha(opacity=100); }
a.video img { width: 100%; }
a.video iframe { display: none; }
#overlay .video {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 640px;
	height: 400px;
	background: #000;
	margin: -210px 0 0 -330px; }
#overlay .close {
	display: block;
	position: absolute;
	top: -20px;
	right: -20px;
	text-indent: -5000px;
	overflow: hidden;
	width: 40px;
	height: 40px;
	opacity: .7;
	filter: alpha(opacity=70);
	background: url('/images/a-close-circled.png') center center no-repeat; }
#overlay .close:hover {
	opacity: 1;
	filter: alpha(opacity=100); }
#overlay iframe {
	width: 640px;
	height: 400px; }