nav {

	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity .25s ease-out;
	-moz-transition: opacity .25s ease-out;

	}
	
nav.show {

	opacity: 1;
	filter: alpha(opacity=100);

	}

nav li {

	position: relative;

	}
	
nav li ul {

	position: absolute;
	z-index: 5;
	top: 100%;
	left: 0;
	background: #d1d1d1;
	display: none;
	padding: 10px 0;
	
	-webkit-border-radius: 0 3px 3px 3px;
	-moz-border-radius: 0 3px 3px 3px;
	border-radius: 0 3px 3px 3px;

	}
	
nav li.hover ul {

	display: block;

	}
	
nav .hover > a {

	color: #fff;
	background: #d1d1d1;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;

	}
	
nav li li {

	float: none;
	white-space: nowrap;

	}
	
nav li li a:hover {

	color: #444;

	}
	
nav .images {

	width: auto;

	}
