/* PayPal Buttons */
.images form { text-align: center; line-height: 1.3em; margin: 10px 0 0 !important; position: relative; z-index: 99; }
#content .images form input { float: none; display: inline; }